.sort-btn {
  border: none;
  margin: 0;
  padding: 0;
  background-color: unset;
}

.sort-btn>img {
  transition: .2s;
}

.sort-btn.up>img {
  transform: rotate(0deg);
}

.sort-btn.down>img {
  transform: rotate(180deg);
}
